logs
*.log
pids
*.pid
*.seed
lib-cov
coverage
.lock-wscript
.DS_Store
ehthumbs.db
Thumbs.db
/node_modules
npm-debug.log
/coverage/
/typings/
/tsd_typings/
/dist/**
/dist
.webpack.json
/doc/
.idea/
*.swp
/client/cordova/platforms/
/client/cordova/plugins/
/client/cordova/hooks/
/client/cordova/www/
webpack-visualizer-stats.html
