@import "../../styles/utilities/_index";

:global {
  .style-guide {
    @include flexbox(column, flex-start, flex-start);
    max-width: $breakpoint-desktop-small;
    margin: 0 auto;
    padding: 1em;
  }
}

.__buttons {
  button {
    margin: 0 10px 10px 0;
  }

}

.__todos {
  margin: 1em 0 0;
  font-size: 0.8em;
  font-style: italic;
  padding: 0;
  li {
    list-style-type: none;
    margin: 0;
  }
}

.__typography {
  &--work-sans {
    font-family: 'Work Sans';
  }
}