@import "../../styles/utilities/_index";

:global {
  .example-page {
    @include flexbox(column, flex-start, flex-start);
    margin: 0 auto;
    padding: 1em;
  }
}

.__typography {
  &--work-sans {
    font-family: 'Work Sans';
  }
}