$breakpoint-mobile-extra-small: 480px;
$breakpoint-mobile-small: 600px;
$breakpoint-mobile-small-medium: 720px;
$breakpoint-mobile-medium: 960px;
$breakpoint-desktop-small: 1024px;
$breakpoint-desktop-medium: 1280px;
$breakpoint-desktop-large: 1440px;
$breakpoint-desktop-extra-large: 1920px;
