//================================================================
// SHARED STYLES
//================================================================

//================================================================
// LAYOUTS
//
// (flexbox helper classes, commonly used layouts,
// grids, media-queries, ...)
//================================================================

@import "../shared/styles/layouts/_index";


//================================================================
// WEBSITE APP STYLES
//================================================================

//================================================================
// BASE (html, body, typography...)
//================================================================

@import "./styles/partials/_base";
@import "./styles/partials/_headings";

//================================================================
// COMPONENTS
//
// (can be composed of BASE elements and other components)
//================================================================

@import "./styles/partials/_buttons";
@import "./styles/partials/_mark";

//================================================================
// STATES (print, no JS, ...)
//================================================================

@import "./styles/states/_index";

//================================================================
// SHAME
//
// (ugly hacks and overrides that must be replaced at some point)
//================================================================

@import "./styles/shame/_index";