$color-monokai-foreground: #F8F8F2;
$color-monokai-background: #212121;
$color-monokai-highlight: #49483E;
$color-monokai-selection: #49483E;
$color-monokai-function: #A6E22E;
$color-monokai-function-arguments: #FD971F;
$color-monokai-function-name: #66D9EF;
$color-monokai-number: #AE81FF;
$color-monokai-invalid-background: #F92672;
$color-monokai-invalid-foreground: #F8F8F0;