@mixin flexbox(
  $direction: row,
  $justify-content: flex-start,
  $align-items: flex-start,
  $wrap: nowrap,
  $flex-grow: 0,
  $flex-shrink: 0,
  $flex-basis: null,
  $flex-short: null) {

  display: flex;
  flex-direction: $direction;

  // for ie 10-11, otherwise flex child overflow their container for column flow
  @if $direction = column {
    > * {
      max-width: 100%;
    }
  }

  justify-content: $justify-content;
  align-items: $align-items;
  flex-wrap: $wrap;
  flex-grow: $flex-grow;
  flex-shrink: $flex-shrink;
  // optional
  flex-basis: $flex-basis;
  flex: $flex-short;

}

@mixin flex() {
  display: flex;
}
