@import "../utilities/index";

button {
  display: inline-block;
  touch-action: manipulation;

  font-size: 1em;

  min-height: 52px;
  min-width: 30px;
  padding: 0 1em;
  vertical-align: bottom;
  line-height: 50px;

  font-weight: 600;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  outline: none;
  border-radius: $border-radius-default;

  user-select: none;
  -webkit-user-select: none;

  cursor: pointer;

  > a {
    text-decoration: none;
    &:visited, &:active, &:link, &:visited {
      color: currentColor;
    }
  }

}
