@import "../utilities/index";

code {
  font-size: 0.8em;
  padding: 0 2px;
  border-radius: 4px;
  border: 1px solid $color-grey-100;

  font-family: 'Menlo Regular';
  color: $color-monokai-invalid-background;
  background-color: $color-monokai-foreground;
}