@import "../utilities/index";

:global {
  h1, h2, h3, h4, h5 {
    font-family: $font-headings;
    letter-spacing: -0.04em;
    font-weight: bold;
    margin: 0;
  }

  h1 {
    text-transform: capitalize;
    font-size: 2.2em;
  }

  h2 {
    font-size: 1.4em;
  }

  h3 {
    font-size: 1.3em;
  }

  h4 {
    font-size: 1em;
  }

  h5 {
    font-size: 1.3em;
    color: $color-grey-800;
    line-height: 1.4;
    letter-spacing: -0.02em;
  }
}