@import "../utilities/_index";

a {
  color: $color-monokai-function-arguments;

  &:link, &:visited, &:hover, &:active {
    color: $color-monokai-function-arguments;
  }

  &:active {
    color: $color-monokai-function-arguments;
  }
}
