<!DOCTYPE html>
<html lang="en">
<head>
    <%= require('ejs-loader!../shared/templates/head.html')() %>
    <%= require('ejs-loader!../shared/templates/g-analytics.html')() %>
</head>
<body>
<div style="display: flex; justify-content: center; align-items: center; height: 100%">

    Hello World

    <button id="action-1">One</button>
    <button id="action-2">Two</button>
    <button id="action-3">Three</button>

</div>
</body>
<%= require('ejs-loader!../shared/templates/firebase-scripts.html')() %>
</html>