<% if(!htmlWebpackPlugin.options.isDevServer) { %>
<!-- CONTENT SECURITY POLICY FOR PROD -->
<meta http-equiv="Content-Security-Policy"
      content="
            default-src
                'self'
                'unsafe-inline'
            data:
            blob:
            filesystem:;
            script-src
                'self'
                'unsafe-inline'
                https://www.gstatic.com
            gap:
                https://ssl.gstatic.com;
            img-src:
                'self'
                https://www.google-analytics.com;
            style-src:
                'self'
            media-src *">
<% } %>