<!-- CONTENT SECURITY POLICY FOR PROD -->
<!--FOR USAGE SEE https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Content_Security_Policy -->
<% if(!htmlWebpackPlugin.options.isDevServer) { %>
<meta http-equiv="Content-Security-Policy"
      content="default-src 'self';
               object-src 'none';
               script-src 'self' https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js;
               style-src 'self';
               media-src *;
               font-src 'self';
               img-src 'self';">
<% } %>